body {
  font-family: 'Verdana', sans-serif;
  color: #404040;
}
p {
  line-height: 1.5em;
  margin: 20px 0;
  word-break: break-word;
}
p a {
  color: #008AFF;
}
a {
  color: #008AFF;
}
a:hover,
a:focus {
  color: #0085a1;
}
div#Ukraine a {
  color: #005F87;
}
blockquote {
  color: #808080;
  font-style: italic;
}
blockquote p:first-child {
  margin-top: 0;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}
ul {
  padding-inline-start: 10px;
}

.hideme {
  display: none;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

/* --- Navbar --- */

.navbar-custom {
  background: #F5F5F5;
  border-bottom: 1px solid #EAEAEA;
  /* font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 800;
  color: #404040;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #0085a1;
}

.navbar-custom .navbar-brand-logo {
  padding-top: 0;
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand-logo img {
  height: 50px;
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}
.navbar-custom.top-nav-short .navbar-brand-logo {
  padding-top: 5px;
}
.navbar-custom.top-nav-short .navbar-brand-logo img {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .navbar-custom.top-nav-short {
    padding: 0;
  }
  .navbar-custom .navbar-brand {
    margin-right: 25px;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  min-width: 150px;
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background: #f5f5f5;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container {
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container:hover {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    width: 200px;
    position: absolute;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
}

footer {
  padding: 5px;
  background: #F5F5F5;
  border-top: 1px #EAEAEA solid;
  margin-top: 50px;
  font-size: 12px;
}
footer a {
  color: #404040;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  text-align: center;
  margin: 20px 0 20px;
}

footer img {
  margin: auto;
}

dt {
  font-style: italic;
}
dd {
  margin-left: 2em;
}

.post-title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 0;
}

.post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-preview {
  padding: 0;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}
.post-preview:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.post-preview a {
  text-decoration: none;
  color: #404040;
}
.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: #0085a1;
}
.post-preview .post-read-more {
  color: #005F87;
  font-weight: 700;
  float: right;
  margin-top:10px;
}
.post-preview .post-meta {
  margin-top:10px;
}

.post-meta {
  color: #808080;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 20px;
}

.post-meta a {
  color: #404040;
  text-decoration: none;
}


.post-entry {
  display: block;
  width: 100%;
}

.post-entry p a {
  color: #008AFF;
}

.post-image {
  float: right;
  height: 192px;
  width: 192px;
  margin-top: -35px;
  filter: grayscale(90%);
}
.post-image:hover {
  filter: grayscale(0%);
}
.post-image img {
  border-radius: 100px;
  height: 192px;
  width: 192px;
}

div.blog-tags {
  margin: 0;
}
div.blog-tags a {
  color: #005F87;
  text-decoration: none;
  padding: 0px;
}
div.blog-tags a:hover {
  text-decoration: underline;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pager li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: #FFF;
  border-radius: 0;
  color: #404040;
}
@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px;
  }
}
.pager li a:hover,
.pager li a:focus {
  color: #FFF;
  background: #0085a1;
  border: 1px solid #0085a1;
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .pager.blog-pager  {
    margin-top: 10px;
  }
}

table {
  padding: 0;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

pre {
  line-height: 1.5em;
  padding: 0;
}
pre code {
  white-space: pre;
  word-wrap: normal;
}
pre.highlight, .highlight > pre, td.code pre {
  background-repeat: repeat;
  background-size: 3em 3em;
  background-position: 0px 10px;
  border-left: 7px solid #444;
}
code table, code table td, code table th, code table tbody, code table tr,
td.gutter pre {
  padding: 0;
  border: none;
  background-color: #fff;
}
.highlight > pre {
  padding: 0;
}
td.code pre {
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: #444;
  border-radius: 0;
}
td.gutter {
  padding-top: 3px;
}

.page-subtitle {
  color:#aaaaaa;
  font-style:italic;
}

.note {
  background-color: #f0f7fb;
  border-left: solid 4px #3498db;
  padding: 15px 60px;
}

p.warning {
  background-color: #ffdfdf;
  border-left: solid 4px red;
  padding: 15px 60px;
}

nav#toc {
  text-decoration: none;
  margin-right: 2rem;
}

nav#toc em a {
  font-size: 14px;
  text-decoration: none;
}

nav#toc a {
  color: black;
}

nav#toc ul {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 10px;
}

nav#toc ul ul {
  padding-left: 20px;
}

img {
  display: block;
  margin: 0px;
  border: none;
}
article img {
  max-width: 100%;
  height: auto;
}
img#book-cover {
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  max-width:100%;
  max-height:100%;
}

span.book-title {
  font-family: gilroy, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-top: 20px;
}

a.book-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 13px 21px;
  border-radius: 2px;
  background-color: #e00;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1em;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-decoration: none;
}

@media (min-width: 0px) {
  main.page {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "toc"
      "art";
    margin: 0px 15px 30px 15px;
  }
  div#art {
    grid-area: art;
    margin: 5px;
  }
  nav#toc {
    grid-area: toc;
    line-height: 2.0em;
  }

  /* -- */

  main.home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "posts"
      "book";
    margin: 0px 15px 30px 15px;
  }
  div#book {
    grid-area: book;
    margin-top: 20px;
    width:100%;
  }
  div#posts {
    grid-area: posts;
  }
  div#book-desc {
    text-align: justify;
  }
  div#Ukraine {
    text-align: right;
  }
  div.scroller {}
}

@media (min-width: 768px) {
  div#Ukraine {
    float: right;
  }
  main.page {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas:
      "art toc";
    grid-column-gap: 2rem;
    margin: 0px;
  }
  div#art {
    grid-area: art;
    margin: 0px 30px 30px 50px;
  }
  nav#toc {
    grid-area: toc;
    line-height: 1.7em;
    font-size: 13px;
    position: sticky;
    top:0;
    align-self: start;
  }

  /* -- */

  main.home {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "book posts";
    margin: 0px 15px 30px 15px;
  }
  div#book {
    grid-area: book;
    margin: 5px 5px 20px 20px;
  }
  div#posts {
    grid-area: posts;
    margin-right: 10px;
  }
  div#book-desc {
    margin-right: 35px;
    text-align: justify;
  }
  div.scroller {
    overflow-y:scroll;
    height:98vh;
    padding-top:2rem;
  }
}

div.book-covers p {
  display: inline-block;
}
div.book-covers img {
  height: 100px;
  margin-left: 20px;
}

div.great-read img {
  box-shadow: 0 0 75px 0 rgb(0 0 255 / 30%);
}

.tag {
  border-radius: 25px;
  border: 1px solid black;
  padding: 0 5px 0 5px;
  margin-right: 10px;
}

img.withshadow {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

p.figure {
  padding: 0px;
  margin-top: -8px;
  font-size: 0.8em;
  font-style: italic;
  color: gray;
}

div.highlight {
  overflow: scroll;
}
